body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.topnav {
	width: 100%;
	display: block;
	margin-left: 13.5%;
	margin-top: 2.5%;
}

.navgxbtn {
	height: 30px;
	width: 50px;
	background-color: cornflowerblue;
	float: left;
	border: none;
	margin-right: 20px;
	color: white;
}
.navzxbtn2{
	height: 30px;
	width: 50px;
	background-color: cornflowerblue;
	float: left;
	border: none;
	margin-right: 20px;
	color: white;
}

.navzxbtn {
	height: 30px;
	width: 50px;
	background-color: red;
	float: left;
	border: none;
	margin-right: 20px;
	color: white;
}

.navgl {
	height: 30px;
	width: 15px;
	float: left;
	margin-right: 5px;
	background-color: cornflowerblue;
}

.lastbtn {
	height: 30px;
	width: 60px;
	background-color: cornflowerblue;
	float: left;
	border: none;
	margin-left: 15px;
	color: white;
}

.nextandstopbtn {
	height: 30px;
	width: 60px;
	background-color: cornflowerblue;
	float: left;
	border: none;
	margin-left: 20px;
	color: white;
}

.autoMap {
	width: 90%;
	height: 90%;
	margin-top: 2%;
	margin-left: 5%;
}

.map {
	height: 40%;
	width: 25%;
	float: left;
	margin-left: 6%;
}

.mapnext {
	height: 40%;
	width: 25%;
	float: left;
	margin-left: 5%;
}

.secondrowmap {
	height: 40%;
	width: 25%;
	float: left;
	margin-left: 6%;
}

.secondrowmapnext {
	height: 40%;
	width: 25%;
	float: left;
	margin-left: 5%;
}

.dateinput {
	float: left;
	margin-right: 20px;
	margin-top: 8px;
	width: 80px;
}

.timeinput {
	float: left;
	margin-right: 20px;
	margin-top: 8px;
	width: 80px;
}

.mapP {
	width: 25%;
	float: left;
	margin-left: 6%;
}

.mapnextP {
	width: 25%;
	float: left;
	margin-left: 5%;
}

.maptP {
	width: 25%;
	float: left;
	margin-left: 6%;
}

.mapnexttP {
	width: 25%;
	float: left;
	margin-left: 5%;
}

.footer {
	width: 100%;
	height: 50%;
	/*margin-top: -5%;*/
}
#one{
	background: cornflowerblue;
	color:white;
	border-radius: 0;
	margin-bottom: 4px;
	width:50px;
	height:30px;
	text-align:center;
}
#cityChoice{
	float: left;
}
.map img{
	width: 200px;
	height: 100px;
	position: absolute;
	z-index:9999;
}
.map{
	position: relative;
	
}
.amap-scale-text{
	width:500px;
}
#ks{
	float:left;
    margin-top:6px;
	padding:3px 0px 6px 0px;
}
#kd{
	float:left;
    margin-top:5px;
	padding:3px;
	margin-right:10px;
}

